<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<html lang="ko">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>이스턴월드</title>
	
	<!--폰트가지고 오기-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	
	<link rel="stylesheet" href="../src/css/reset_custom.css">
	<link rel="stylesheet" href="../src/css/common.css">
	<link rel="stylesheet" href="../src/css/index.css">
	
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	
		
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	
	<h1 class="hidden">이스턴월드</h1>
	<div class="wrap wrap-index">
		
		<header class="header">
			<a href="#" class="logo"><img src="../src/img/logo.png" alt="이스턴월드"></a>
		</header>
		
		<div class="container main clr">
			<div class="d-left">
				<div class="d1"><img src="../src/img/logo3.png" alt="이스턴월드2014년오픈"></div>
				<nav>
					<ul>
						<li><a href="#">리조트소개</a></li>
						<li><a href="#">오션투유</a></li>
						<li><a href="#">체인콘도</a></li>
						<li><a href="#">주변관광지</a></li>
						<li><a href="#">단체예약문의</a></li>
					</ul>
				</nav>
				<div class="d3">
					<p class="p1">(주)이스턴월드 대표전화</p>
					<p class="p2">1600-1867</p>
				</div>
			</div>
			<div class="d-center">
				<img src="../src/img/main1.jpg" alt="불가능을가틍하게 하는 이스턴월드">
			</div>
			
		</div>
		
		<footer class="footer">
			<div class="d-left"><img src="../src/img/logo2.png" alt="이스턴월드"></div>
			<div class="d-center">
				<ul class="ul1 clr">
					<li><a href="#">회사소개</a></li>
					<li><a href="#">서비스이용약관</a></li>
					<li><a href="#">이메일무단수집거부</a></li>
				</ul>
				<address>
					<p>서울 강남구 대치동 891-34 서원빌딩 5층 (주) 이스턴월드 대표이사: 김흥기 Tel.1600-1867</p>
					<small>Copyright (c) 2014. EASTERN WORKD Co. LTD. ALL Right Reserved.</small>
				</address>
			</div>
		</footer>
		
	</div>
	
	
</body>
</html>
